:root {
    --bg-color: #e8e8e8;
    --primary-color: #0232c2;
    --secondary-color: #163068;
    --inverted-bg-color: #090949;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
